/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2015, 3:35:47 PM
    Author     : Web App Develop PHP
*/

* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 30px;
}
table {
    width: 350px; 
    text-align: left; 
    border: 2px solid #000; 
    border-collapse: collapse;
}
table, tbody {
    border-bottom: 1px solid black;
    border-top: 1px solid ;
    padding: 10px 0px;
    
}